<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/thessaloniki.jpg');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="avatar">
                    <img src="./assets/img/faces/sfalagkiaris.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div>
                <div class="name">
                    <h4 class="title">Sfalagkiaris Christos Emmanouil<br /></h4>
                    <h6 class="description">Senior Software Engineer</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <p>Welcome to the Landmarks a demo mean stack Web Application. The mean stack is intended to provide a simple and fun starting point for cloud native fullstack javascript applications. 
                            MEAN is a set of Open Source components that together, provide an end-to-end framework for building dynamic web applications; starting from the top (code running in the browser) to the bottom (database). The stack is made up of:</p>
                  
                </div>
            </div>
            <div class="row">
                    <div class="col-md-3">
                        <div class="info">
                            <div class="icon icon-danger">
                                <i class="nc-icon nc-album-2"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">MongoDB</h4>
                                <p class="description">Document database – used by your back-end application to store its data as JSON (JavaScript Object Notation) documents.</p>
                                <a href="https://www.mongodb.com/" target="_blank" class="btn btn-link btn-danger">Read more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="info">
                            <div class="icon icon-danger">
                                <i class="nc-icon nc-bulb-63"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Express</h4>
                                <p>(Sometimes referred to as Express.js): Back-end web application framework running on top of Node.js.</p>
                                <a href="https://expressjs.com/" target="_blank" class="btn btn-link btn-danger">Read more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="info">
                            <div class="icon icon-danger">
                                <i class="nc-icon nc-circle-10"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Angular</h4>
                                <p>Front-end web app framework; runs your JavaScript code in the user’s browser, allowing your application UI to be dynamic.</p>
                                <a href="https://angular.io/" target="_blank" class="btn btn-link btn-danger">Read more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="info">
                            <div class="icon icon-danger">
                                <i class="nc-icon nc-sun-fog-29"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Node.js</h4>
                                <p>JavaScript runtime environment – lets you implement your application back-end in JavaScript.</p>
                                <a href="https://nodejs.org/en/" target="_blank" class="btn btn-link btn-danger">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            <br/>
        </div>
    </div>
    
</div>
